
@{
    ViewBag.Title = "Index";
}

<h2>Business List</h2>
<div class="d-flex justify-content-between">
    <button class="btn btn-primary mb-2" data-toggle="modal" data-target="#AddBusinessModal">Add Business</button>
    <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="search" id="tablesearchField" placeholder="Search.." />
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody id="businessList"></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="AddBusinessModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">New Business</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Business Name</label>
                        <input class="form-control" type="text" id="name" placeholder="Please enter Business Name" />
                    </div>
                    <div class="form-group">
                        <label for="address">Business Address</label>
                        <div class="form-row">
                            <div class="col">
                                <input class="form-control" type="number" id="streetno" name="streetno" placeholder="St.#" />
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" id="city" name="city" placeholder="City" />
                            </div>
                            <div class="col">
                                <input class="form-control" type="text" id="country" name="country" placeholder="Country" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coordinates">Coordinates</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="number" class="form-control" id="coordinateX" name="x-coordinate" placeholder="X-Coordinate" />
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" id="coordinateY" name="y-coordinate" placeholder="Y-Coordinate" />
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-primary" id="locationBtn">Current Location</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="categories">Business Categories</label>
                        <select multiple class="form-control" id="categories" title="Press 'Ctrl' and 'Click' to select multiple">
                            <option>Medical</option>
                            <option>Hospital</option>
                            <option>Orthopedic</option>
                            <option>Travel</option>
                            <option>Travel Agents</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submitBusinessFormBtn">Add</button>
            </div>
        </div>
    </div>
</div>