@model Business_Directory.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="card col-md-6 col-sm-12 mr-auto">
    <div class="card-body">
        @using (Html.BeginForm("Login","Home",FormMethod.Post)) {

        }
    </div>
</div>